main {
    display: flex;
}

.menu {
    background-color: #1F1F1F;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    padding: 40px 15px;
}

.menu ul li {
    margin-bottom: 10px;
}


.link-menu {
    position: relative;
    display: inline-block;
    color: white;
    transition: 0.4s;
}

.link-menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #E10600;
    transition: 0.4s;
}

.link-menu:hover::after {
    width: 100%;
}

.container-principal {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.btn-sair {
    margin-top: 15px;
    align-self: center;
    text-align: center;
    width: max-content;
    background-color: #E10600;
    padding: 3px 25px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

/* Css da tela da dash */

.container-principal {
    background-color: #0D0D0D;
    padding: 20px 30px;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-kpi {
    display: flex;
    justify-content: space-evenly;
}

.kpi {
    font-size: 16px;
    color: #B3B3B3;
    background: linear-gradient(145deg, #1F1F1F, #171717);
    border-radius: 15px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #2A2A2A;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.kpi:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.kpi span {
    font-size: 20px;
    font-weight: bold;
    color: #E10600;
}

/* css pro gráfico */
.container-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* CARDS DOS GRÁFICOS */

.grafico {
    background: linear-gradient(145deg, #181818, #101010);
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #252525;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 380px;
    transition: 0.3s;
}

.grafico:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(225, 6, 0, 0.15);
}

.grafico h2 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #E10600;
}

/* SELECT */

#selectTempo {
    width: 100%;
    background-color: #1A1A1A;
    color: white;
    border: 1px solid #E10600;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    font-size: 14px;
}

/* CANVAS */

canvas {
    width: 100% !important;
    max-height: 320px !important;
}